
@{
    ViewData["Title"] = "About";
}

<div class="container-fluid padding">
    <div class="row padding text-center">
        <div class="col-md-12 col-lg-12">
            <h2>About us</h2>
            <p class="lead">With Home Training App, you can easily get a good workout in even in your own home.</p>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(".nav li").removeClass("active");
        $('#about').addClass('active');
    </script>
}

