
@{
    ViewData["Title"] = "Workouts";
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 align-content-center">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://img.icons8.com/metro/26/000000/flex-biceps.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-center">Upper/lower split</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://img.icons8.com/metro/26/000000/flex-biceps.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-center">Push/pull/legs</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://img.icons8.com/metro/26/000000/flex-biceps.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-center">Ab workout</p>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

