
@{
    ViewData["Title"] = "Workouts";
}

<div class="container-fluid padding" align="center">
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10">
            <div class="card-group">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-header">Push workout</div>
                    <img class="card-img-top" src="~/images/pushup.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Push workout</h4>
                        <p class="card-text">In this push workout, you will workout your chest, shoulders and triceps with exercises such as pushups and dips.</p>
                        <a class="btn btn-success" asp-controller="Workout" asp-action="PushWorkout">Go to workout</a>
                    </div>
                </div>
                <div class="card text-white bg-primary mb-3">
                    <div class="card-header">Pull/leg workout</div>
                    <img class="card-img-top" src="~/images/pull.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Pull/leg workout</h4>
                        <p class="card-text">In this pull and leg workout, you will workout your back muscles aswell as the leg muscles with exersices such as kettlebell row and pistol squats.</p>
                        <a class="btn btn-success" asp-controller="Workout" asp-action="PullWorkout">Go to workout</a>
                    </div>
                </div>
                <div class="card text-white bg-primary mb-3">
                    <div class="card-header">Workout placeholder</div>
                    <img class="card-img-top" src="~/images/pull.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Workout #1</h4>
                        <p class="card-text">Workout placeholder text...</p>
                        <a class="btn btn-success" data-toggle="modal" data-target="#workoutModal">Go to workout</a>
                    </div>
                </div>
                <div class="card text-white bg-primary mb-3">
                    <div class="card-header">Workout placeholder</div>
                    <img class="card-img-top" src="~/images/pull.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Workout #2</h4>
                        <p class="card-text">Workout placeholder text...</p>
                        <a class="btn btn-success" data-toggle="modal" data-target="#workoutModal">Go to workout</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1"></div>
    </div>

</div>

@*- Modal - *@
<div class="modal fade" id="workoutModal" tabindex="-1" role="dialog" aria-labelledby="workoutModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Workout not yet added</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                This workout has not yet been added. Please come back later! :)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(".nav li").removeClass("active");
        $('#workouts').addClass('active');
    </script>
}



